# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Streamlit
.streamlit/
static/

# IDEs
.cursor/
.vscode/
.idea/

# We are NOT ignoring data because the repo is private and small
# data/
# *.csv
# *.xlsx
